.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Large database files
*.mdf
*.ndf
*.ldf
*.7z
*.bak

# BULK INSERT temporary CSV files
include/bulk_files/
